/* General setup */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typology */
body,
input,
button,
.modal-content,
#searchbar > button {
  font-family: 'Roboto', sans-serif;
  color: rgb(175, 175, 175);
}

/* Layout */
body {
  min-height: 100vh;
  min-width: 100vw;
  padding: 0 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgb(0,0,0);
  /* background: linear-gradient(170deg, rgba(2,0,36,1) 0%, rgba(43,43,142,1) 35%, rgba(0,212,255,1) 100%);  */
}

main {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Title */
main > h1 {
  text-align: center;
  font-size: 5rem;

  margin-bottom: 1rem;
}

/* Search bar */
#searchbar {
  height: 3em;
  width: 600px;

  position: relative;

  display: flex;
  align-items: center;
}

#searchbar > input {
  height: 100%;
  width: 80%;

  border: none;
  border-bottom-left-radius: 10px;

  background-color: #2E2E2F;
  color: #A5A5A5;

  padding-left: 3em;
  z-index: 1;
}

#searchbar > i {
  z-index: 2;
  position: absolute;
  left: 1em;
  
  color: #A5A5A5;
}

#searchbar > input,
#searchbar > button {
  font-weight: 700;
  font-size: 1rem;
}

#searchbar > button {
  height: 100%;
  width: 20%;

  border: none;
  border-top-right-radius: 10px;

  background-color: #4B4B4B;
  
  cursor: pointer;
}

#searchbar > button:hover {
  filter:brightness(90%);
}

#searchbar > button:active {
  transform:scale(0.95);
}

/* Error modal */
.modal-overlay {
  width: 200px;
  height: 50px;
  
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 3;

  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.modal-content {
  width: 100%;
  height: 100%;

  font-weight: 700;

  background-color: #2E2E2F;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  border: 3px solid #4B4B4B;
  border-radius: 10px;
  outline: none;
  
  position: absolute;
  overflow: auto;  
}

@media (max-width: 650px) {
  body {
    overflow: hidden;
  }

  main > h1 {
    font-size: 12vw;
  }

  #searchbar {
    width: 100%;
  }

  #searchbar > button {
    min-width: fit-content;
    padding: 0 1em;
  }
}
